name: Build and Publish Docker Image

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
        default: 'main'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build Image
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          ref: ${{ inputs.version }}

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Tags and Labels
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}
          tags: |
            type=raw,value=${{ inputs.version }}
            type=raw,value=latest,enable=${{ github.ref_type == 'tag' }}
          labels: |
            org.opencontainers.image.title=CanaryCD
            org.opencontainers.image.description=CanaryCD
            org.opencontainers.image.url=https://docs.rehborn.dev
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.documentation=https://docs.rehborn.dev
            org.opencontainers.image.version=${{ inputs.version }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        id: build
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
