name: Python Linter
on:
  pull_request:
    branches:
      - main

env:
  python-version: 3.13

jobs:
  linter:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    if: github.actor != 'renovate[bot]'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          persist-credentials: false
          fetch-depth: 1

      - name: Set up Python ${{ env.python-version }}
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ env.python-version }}

      - name: Install Dependencies
        run: uv sync --locked

      - name: Run PyLint
        id: linter
        run: |
          CHANGED_FILES=$(git diff --name-only HEAD 'canary_cd/**.py')
          uv run pylint $CHANGED_FILES --exit-zero --output-format=github || true
          {
            echo 'STDOUT<<EOF'
            uv run pylint $CHANGED_FILES || true
            echo EOF
          } >> "$GITHUB_OUTPUT"

      - name: Comment on PR
        if: github.event_name == 'pull_request'
        uses: actions/github-script@v8
        with:
          script: |
            const output = `### Linter Results for Run \`${{ github.run_id }}\`

            #### Linter
            <details><summary>Linter Results</summary>
            
            \`\`\`\n
            ${{ steps.linter.outputs.stdout }}
            \`\`\`
            
            </details>
            `;

            const { data: comments } = await github.rest.issues.listComments({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
            })
            const botComment = comments.find(comment => {
              return comment.user.type === 'Bot' && comment.body.includes('Linter Results for Run')
            })
            if (botComment) {
              github.rest.issues.updateComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                comment_id: botComment.id,
                body: output
              })
            } else {
              github.rest.issues.createComment({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                body: output
              })
            }
