name: Python Tests
on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    strategy:
      max-parallel: 2
      matrix:
        python-version: [ 3.12, 3.13 ]

    if: github.actor != 'renovate[bot]'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Python ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: uv sync --locked

      - name: Run Tests for Python ${{ matrix.python-version }}
        id: test
        run: |
          {
            echo 'STDOUT<<EOF'
            uv run pytest tests/
            echo EOF
          } >> "$GITHUB_OUTPUT"
          

      - name: Comment on PR
        if: github.event_name == 'pull_request' && matrix.python-version == '3.13'
        uses: actions/github-script@v8
        with:
          script: |
            const output = `### Test Results for Run \`${{ github.run_id }}\`

            #### Tests
            <details><summary>Test Results</summary>
            
            \`\`\`\n
            ${{ steps.test.outputs.stdout }}
            \`\`\`
            
            </details>
            `;

            const { data: comments } = await github.rest.issues.listComments({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
            })
            const botComment = comments.find(comment => {
              return comment.user.type === 'Bot' && comment.body.includes('Test Results for Run')
            })
            if (botComment) {
              github.rest.issues.updateComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                comment_id: botComment.id,
                body: output
              })
            } else {
              github.rest.issues.createComment({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                body: output
              })
            }
